:root {
    --window-size: 96%;
}
body {
    font-family: 'Mv Boli', 'Segoe Print', 'Modern', 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', 'メイリオ', Meiryo, sans-serif;

    background-color: ghostwhite;
    color: black;
}

.page,
.logo,
.story-title,
.subtitle,
 .previous-page,
 .current-page,
 .next-page{
    position: absolute;
}

/*リンクの色の設定*/
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.page {
    top: calc(0.5 * calc(100% - var(--window-size)));
    left: calc(0.5 * calc(100% - var(--window-size)));
    height:
        calc(var(--window-size));
    width:
        calc(var(--window-size));

    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 3px;
    box-shadow:
        1px 1px 1px 1px #666,
        2px 2px 1px 1px #555,
        3px 3px 1px 1px #444;

    background-color: gray;
    color: black;
}

/*header*/
.logo {
    top: 5px;
    left: 5px;
    width: 200px;
    height: 50px;
    font-size: 0.8rem;
}

.logo span {
    top: 25px;
    left: 50px;
    width: 5rem;
}

.story-title {
    top: 2rem;
    left: 50%;
    /*position at center*/
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
}

.subtitle {
    top: 2rem;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    font-weight: bold;
}

/*contents*/
.left{
    margin-top: 4rem;
    margin-left: 2rem;
    width: calc(50% - 4rem);
}

.right{
    margin-top: 4rem;
    margin-left: calc(50% + 2rem);
    width: calc(50% - 4rem);
}

.full{
    margin-top: 4rem;
    margin-left: 2rem;
    width: calc(100% - 4rem);
}

/*footer*/
.previous-page {
    bottom: 1rem;
    left: 10%;
    width: 6rem;
    height: 1rem;
}

.current-page {
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 1rem;
}

.next-page {
    bottom: 1rem;
    right: 10%;
    width: 6rem;
    height: 1rem;
}
