:root {
    --window-size: 96%;
    --ab: 5%;
}

body {
    font-family: 'Mv Boli', 'Segoe Print', 'Modern', 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', 'メイリオ', Meiryo, sans-serif;

    background-color: ghostwhite;
    color: black;
}

* :not(body) {
    position: absolute;
}


/*リンクの色の設定*/
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
}

page {
    top: calc(0.5 * calc(100% - var(--window-size)));

    left: calc(0.5 * calc(100% - var(--window-size)));

    height:
        calc(var(--window-size));
    width:
        calc(var(--window-size));

    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 3px;
    box-shadow:
        1px 1px 1px 1px #666,
        2px 2px 1px 1px #555,
        3px 3px 1px 1px #444;
}

logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 200px;
    height: 50px;
    font-size: 0.8rem;
}

logo span {
    top: 25px;
    left: 50px;
    width: 5rem;
}

story_title {
    top: 2rem;
    left: 50%;
    /*position at center*/
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
}

subtitle {
    top: 2rem;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
}

left,
left_top,
left_high {
    position: relative;
    top: calc(50px + 1.5rem);
    left: 0%;
    width: calc(50% - 4rem);
    display: flex;
    flex-direction: column;
}

left_center {
    top: 50%;
    left: 2rem;
    width: calc(50% - 4rem);
    display: flex;
    flex-direction: column;
}

left_mid {
    top: calc(30% + 50px);
    left: 2rem;
    width: calc(50% - 4rem);
    display: flex;
    flex-direction: column;
}

left_low {
    top: calc(60% + 50px);
    left: 2rem;
    width: calc(50% - 4rem);
    display: flex;
    flex-direction: column;
}

right,
right_top,
right_high {
    position: absolute;
    top: calc(50px + 1.5rem);
    left: calc(50% + 2rem);
    width: calc(50% - 4rem);
    display: flex;
    flex-direction: column;
}

hd {
    position: relative;
    left: 0%;
    width: calc(100% - 2rem);
    justify-content: flex-start;
    font-size: 0.9rem;
    font-weight: bold;
}

contents {
    position: relative;
    left: 0%;
    width: calc(100% - 2rem);
    justify-content: flex-start;

}

right_center {
    position: absolute;
    top: 50%;
    left: calc(50% + 2rem);
    width: calc(50% - 4rem);
    display: flex;
    flex-direction: column;
}

right_mid {
    position: absolute;
    top: calc(30% + 50px);
    left: calc(50% + 2rem);
    width: calc(50% - 4rem);
    display: flex;
    flex-direction: column;
}

right_low {
    position: absolute;
    top: calc(60% + 50px);
    left: calc(50% + 2rem);
    width: calc(50% - 4rem);
    /*display: flex;
    flex-direction: column;*/
}


full_top,
full_high {
    top: 50px;
    left: 2rem;
    width: calc(100% - 4rem);
}

full_center {
    top: 50%;
    left: 2rem;
    width: calc(100% - 4rem);
}

full_mid {
    top: calc(30% + 50px);
    left: 2rem;
    width: calc(100% - 4rem);
}

full_low {
    top: calc(60% + 50px);
    left: 2rem;
    width: calc(100% - 4rem);
}

previous-page {
    bottom: 1rem;
    left: 10%;
    width: 6rem;
    height: 1rem;
}

current-page {
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

next-page {
    bottom: 1rem;
    right: 10%;
    width: 6rem;
    height: 1rem;
}


/*
page {
    background:
        linear-gradient(to right bottom, rgba(255, 255, 255, 0.3) 50%, rgba(165, 42, 42, 0.5) 80%),
        url(../../brother/pics/maplel.jpg);
}


mado1 {
    top: 0%;
    left: 0%;

    height: 100%;
    width: 100%;

    background:
        center/cover url("../../brother/pics/brother1.png");


    
    clip-path:
        polygon(0% 10%, 90% 10%, 100% 40%, 10% 40%) circle(10% at 20% 60%);


    clip-path:
        inset(10% 70% 60% var(--ab) round 20px 20px 10px 10px);
    opacity: 0.8;
}

mado2 {
    top: 0%;
    left: 0%;

    height: 100%;
    width: 100%;

    background:
        center/cover url("../../brother/pics/brother1.png");

    clip-path:
        inset(10% 40% 60% 38% round 20px 20px 10px 10px);
    opacity: 0.8;
}

mado3 {
    top: 10%;
    left: 65%;
    width: 30%;
    height: 30%;
    background-color: blue;
    border-style: solid;
    border-width: 5px;
    border-color: brown;
    border-radius: 20px 50px 40px 20px / 40px;
    background:
        center/cover url("../../brother/pics/brother1.png");
}

table {
    top: 60%;
    left: 5%;
    width: 40%;
    height: 45%;

    background-image: url(../pics/wood-deck-small-b.jpg);
    
      transform-style: preserve-3d;
      perspective-origin: 0% 100%;

    transform:
        rotate(-30deg) rotateY(-45deg) rotateX(-45deg);
    box-shadow:
        1px 5px 3px brown,
        1px 5px 1px black;
}

foods {
    top: 50%;
    left: 0%;
    width: 50%;
    height: 50%;

    background:
        left 10% top 60% no-repeat url("../pics/fruit_green_papaya.png"),
        no-repeat top 60% left 50% url("../pics/fruit_cassis.png"),
        no-repeat top 90% left 30% url("../pics/soup_food_scotch_broth.png"),
        no-repeat top 80% left 90% url("../pics/breads.png"),
        no-repeat top 90% left 70% url("../pics/pans.png"),
        no-repeat top 70% left 70% url("../pics/knife.png");
}*/
