:root {
    --window-size: 96%;
}
body {
    font-family: 'Mv Boli', 'Segoe Print', 'Modern', 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', 'メイリオ', Meiryo, sans-serif;

    background-color: ghostwhite;
    color: black;
    font-size: 0.9rem;
    line-height: 1.3;
}

page,
logo,
logo1,
story-title,
sub-title, subtitle,
full, full-mid,
left, left-mid,
right, right-mid,
p-page, p-page a, p-page::before, p-page:hover,
n-page, n-page a, n-page::before, n-page:hover,
c-page,
previous-page,
current-page,
next-page,
.page,
.logo,
.story-title,
.subtitle,
.full, .full-mid,
.left, .left-mid,
.right, .right-mid,
.previous-page,
.current-page,
.next-page{
    position: absolute;
}

/*リンクの色の設定*/
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

page,
.page {
    top: calc(0.5 * calc(100% - var(--window-size)));
    left: calc(0.5 * calc(100% - var(--window-size)));
    height:
        calc(var(--window-size));
    width:
        calc(var(--window-size));

    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 3px;
    box-shadow:
        1px 1px 1px 1px #666,
        2px 2px 1px 1px #555,
        3px 3px 1px 1px #444;

    background-color: gray;
    color: black;
}

l1{
  font-size: 1.1rem;
  font-weight: bold;
}
l2{
  font-size: 1.0rem;
  font-weight: bold;
}
l3{
  font-size: 0.9rem;
  font-weight: bold;
}
l4{
  font-size: 0.8rem;
  font-weight: bold;
}
l5{
  font-size: 0.7rem;
  font-weight: bold;
}

/*header*/

/* added logo template*/
/* <logo1><a href="https://shirasukuu.github.io/index.html"></a></logo1> */

logo1{
  width: 150px; height: 50px;
  position: absolute; top: 5px; left: 5px;
  background-image:
    url("https://shirasukuu.github.io/pics/logo.png");
  background-size: 25% 80%;
  background-repeat: no-repeat;
}
logo1::before{
  position: absolute; top: 15px; left: 50px;
  content: "三つの物語";
}
logo1 a {
  position: absolute;
  width: 100%; height: 100%;
  text-indent:-999px;
  z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
}
logo1:hover{
  color: blue;
}

/* new logo template end */

/* new header&footer */
p-page{
  width: 50px; height: 20px;
  bottom: 1rem; left: 5%;
}
p-page::before{
  top: 0px; left: 10px;
  content: "戻る";
}
n-page a, p-page a{
  width: 100%; height: 100%;
  text-indent: -999px;
  z-index: 2;
}
n-page:hover, p-page:hover{
  color: blue;
}

n-page{
  width: 50px; height: 20px;
  bottom: 1rem; right: 5%;
}
n-page::before{
  top: 0px; left: 10px;
  content: "進む";
}

c-page {
  bottom: 1rem; left: 45%;
  width: 6rem; height: 1rem;
  z-index: 10;
}
/* added */


/* headers and footers */
logo, .logo {
    top: 5px;
    left: 5px;
    width: 200px;
    height: 50px;
    font-size: 0.8rem;
    z-index: 10;
}

logo span, .logo span {
    top: 25px;
    left: 50px;
    width: 5rem;
    z-index: 10;
}

story-title, .story-title {
    top: 2rem;
    left: 50%;
    /*position at center*/
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
    z-index: 10;
}

subtitle, .subtitle, sub-title, .sub-title {
    top: 2rem;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    font-weight: bold;
    z-index: 10;
}

/*contents*/
left, .left{
    top: 4rem;
    left: 2rem;
    width: calc(50% - 4rem);
    white-space: pre-wrap;
}

left-mid, .left-mid{
    top: 50%;
    left: 2rem;
    width: calc(50% - 4rem);
    white-space: pre-wrap;
}

right, .right{
    top: 4rem;
    left: calc(50% + 2rem);
    width: calc(50% - 4rem);
    white-space: pre-wrap;
}

right-mid, .right-mid{
    top: 50%;
    left: calc(50% + 2rem);
    width: calc(50% - 4rem);
    white-space: pre-wrap;
}

full, .full{
    top: 4rem;
    left: 2rem;
    width: calc(100% - 4rem);
    white-space: pre-wrap;
}

full-mid, .full-mid{
    top: 50%;
    left: 2rem;
    width: calc(100% - 4rem);
    white-space: pre-wrap;
}


/*footer*/
previous-page, .previous-page {
    bottom: 1rem;
    left: 5%;
    width: 15rem;
    height: 1rem;
    z-index: 10;
}

current-page, .current-page {
    bottom: 1rem;
    left: 45%;
    /* transform: translate(-50%, -50%); */
    width: 6rem;
    height: 1rem;
    z-index: 10;
}

next-page, .next-page {
    bottom: 1rem;
    right: 5%;
    width: 6rem;
    height: 1rem;
    z-index: 10;
}

alpha-mask, .alpha-mask, ._alpha-mask, _alpha-mask{
      -webkit-mask-image:  radial-gradient(ellipse closest-side at 50% 50%, rgba(0, 0, 0, 1.0) 30%, transparent 90%);
    mask-image:  radial-gradient(ellipse closest-side at 50% 50%, rgba(0, 0, 0, 1.0) 30%, transparent 90%);
    mask-mode: alpha;
    -webkit-mask-mode: alpha;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: 50% 50%; /* 中心で合わせる */
    -webkit-mask-position: 50% 50%;
    mask-size: 100%; /* 同じ大きさで */
    -webkit-mask-size: 100%;
}

.alpha-mask1{
  -webkit-mask-image:  radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 1) 50%, transparent 70%);
  mask-image:  radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 1) 50%, transparent 70%);
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
  mask-size: 100%;
  -webkit-mask-size: 100%;
}

/* ラインを書くユーティリティ　*/
line,
.line{
  width: var(--line-length-x, 1px);
  height: var(--line-length-y, 1px);
  background-color:
    var(--line-color, black);
  /* background:
  linear-gradient(to right, white, var(--line-color)); */

  position: absolute;
  top: var(--line-y, 0px);
  left: var(--line-x, 0px);
  /* z-index: 10; */
}

/* グラーデション付きの横線 */
/* カラーの指定が必要、、、 -lc　*/
.line-x,
.linex,
line-x,
linex{
  width: var(--ll, 100px);
  height: 1px;
  position: absolute;
  top: var(--ly, 0px);
  left: var(--lx, 0px);
  background:
    linear-gradient(to right, var(--lcs, transparent), var(--lce, transparent));
  background-color: var(--lc, transparent);
}

/* グラーデション付きの縦線 */
.line-y,
.liney,
line-y,
liney{
  width: 1px;
  height: var(--ll, 100px);
  position: absolute;
  top: var(--ly, 0px);
  left: var(--lx, 0px);
  background:
    linear-gradient(to bottom, var(--lcs, transparent), var(--lce, transparent));
  background-color: var(--lc, transparent);
}

/* 斜め線 */
lined,
line-d,
.lined,
.line-d{
  width: var(--ll, 100px);
  height: var(--ll, 100px);
  position:absolute;
  top: var(--ly, 0px);
  left: var(--lx, 0px);
  background:
  linear-gradient(var(--ld, 45deg), transparent 50%, var(--lc, black) 50.1%, transparent 50.4%);
  /* z-index: 10; */
}
