:root{
  --sheet-width:100%;
  --sheet-height:100%;
  --sheet-depth:50px;
  --sheet-x: 0px;
  --sheet-y: 0px;
  --sheet-z: 0px;
}

html{
  /* background-color: gray; */
}

body {
  margin: 0;
  padding: 0;
  overflow:hidden;

  /* background-color: silver; */
}

.city{
  position: absolute;
  top: 30%;
  left: 30%;
  width: 50%;
  height: 50%;
  border-radius: 0%;
  opacity:0.7;

  z-index: 5;
}

/* 共有できそう */
.city-mask{
  -webkit-mask-image:  radial-gradient(ellipse closest-side at 50% 50%, rgba(0, 0, 0, 1.0) 30%, transparent 90%);
  mask-image:  radial-gradient(ellipse closest-side at 50% 50%, rgba(0, 0, 0, 1.0) 30%, transparent 90%);
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50% 50%; /* 中心で合わせる */
  -webkit-mask-position: 50% 50%;
  mask-size: 100%; /* 同じ大きさで */
  -webkit-mask-size: 100%;
}

  /* * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top:0px;
    left: 0px;

    border: 1px solid black;
    color: black;
    } */

pers{
  width: var(--sheet-width);
  height: var(--sheet-height);
  position: absolute;
  top: var(--sheet-y);
  left: var(--sheet-x);

  /* background-color: lightblue; */

/*****
perspective settings
*****/
  /* とりあえず2000pxで　*/
  perspective: 2000px;
  perspective-origin: 50% 50%;
}

transform-sheet{
  width: var(--sheet-width);
  height: var(--sheet-height);
  position: absolute;
  top: var(--sheet-y);
  left: var(--sheet-x);

  /* background-color: green; */

/*****
  transform settings for object
*****/
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0px;
  transform:
    perspective(1000px)
    translate3d(0px, 0px, 0px);
}

sheet{
  width: var(--sheet-width);
  height: var(--sheet-height);
  position: absolute;
  top:var(--sheet-y);
  left:var(--sheet-x);

  /* background-color: yellow; */
}

back{
  all: inherit;

      background-image:
        url("../pics/old-paper2.jpg"),
        url("../pics/paper.jpg");
      background-size:
      20%,
      cover;
      background-position:
      bottom 10px right 10px,
      bottom 0px right 0px;

      background-repeat: no-repeat;

  /* background-blend-mode:  */
      background-blend-mode: overlay;

  border-radius: 0%;

  transform:
    translate3d(0px, 0px, calc(-1 * var(--sheet-depth)));

    opacity: 1;
    z-index: 1;
}

front1{
  all: inherit;

  width: calc(0.4 * var(--sheet-height));
  height: calc(1 * var(--sheet-height));

  /* background-color: lightblue; */


    background-image: url("../pics/old-paper-r.png");
    background-size: 100%;
    background-repeat: no-repeat;

  transform:
    translate3d(200px, 0px, -100px);
    opacitpx: 0.9;
    z-index: 4;
}

front2{
  all: inherit;

  width: calc(0.4 * var(--sheet-height));
  height: calc(1 * var(--sheet-height));

  /* background-color: lightblue; */


    background-image: url("../pics/old-paper-r.png");
    background-size: 100%;
    background-repeat: no-repeat;

  transform:
    translate3d(300px, 0px, -150px);

  opacity: 0.9;
  z-index: 3;
}

front3{
  all: inherit;

  width: calc(0.4 * var(--sheet-height));
  height: calc(1 * var(--sheet-height));

  /* background-color: lightblue; */


    background-image: url("../pics/old-paper-r.png");
    background-size: 100%;
    background-repeat: no-repeat;

  transform:
    translate3d(400px, 0px, -200px);
  opacity: 0.9;
  z-index: 2;
}

left{
  all: inherit;
  width: var(--sheet-depth);

  /* background-color: lime; */
  background-image: url(../pics/wood.jpg);

  /* border-radius: 50%; */

  transform-origin: left;
  transform:
    rotateY(90deg)
    translate3d(0px, 0px, 0px);

  opacity: 1;
}


right{
  all: inherit;
  left: calc(var(--sheet-width) - var(--sheet-depth));

  width: var(--sheet-depth);

  /* background-color: lime; */
  background-image: url(../pics/wood.jpg);


  transform-origin: right;
  transform:
    rotateY(-90deg)
    translate3d(0px, 0px, 0px);
    opacity: 1;
}


top{
  all: inherit;
  height: var(--sheet-depth);

  /* background-color: lightblue; */
  background-image: url(../pics/wood.jpg);


  transform-origin: top;
  transform:
    rotatex(-90deg)
    translate3d(0px, 0px, 0px);
    opacity: 1;
}

bottom{
  all: inherit;
  height: var(--sheet-depth);
  top:calc(var(--sheet-height) - var(--sheet-depth));

  /* background-color: gray; */
  background-image: url(../pics/wood.jpg);

/* boder image settings */
  border-image: url("../pics/gold.jpg") 30  round;
  border-bottom-width: 30px;
  border-style: solid;

  transform-origin: bottom;
  transform:
    rotatex(90deg)
    translate3d(0px, 0px, 0px);

  opacity: 1;
}
