:root{
  --sheet-width:100%;
  --sheet-height:100%;
  --sheet-depth:100px;
  --sheet-x: 0px;
  --sheet-y: 0px;
  --sheet-z: 0px;
}

html{
  /* background-color: gray; */
}

body {
  margin: 0;
  padding: 0;
  overflow:hidden;

  /* background-color: silver; */
}

.city{
  position: absolute;
  top: 30%;
  left: 30%;
  width: 50%;
  height: 50%;
  border-radius: 0%;
  opacity:0.7;

  z-index: 1;
}

/* line,
.line{
  width: var(--line-length, 100px);
  height: 1px;
  background:
  linear-gradient(to right, white, var(--line-color));

  position: absolute;
  top: var(--line-y, 100px);
  left: var(--line-x, 100px);
  z-index: 10;
} */

line-d-test{
  --lc:lime;
  --ld:15deg;
  --lx: 100px;
  --ly: 100px;
  z-index: 10;
}

line1,
.line1{
  --line-length-x: 200px;
  --line-color: red;
  --line-x: 10px;
  --line-y: 10px;
    color: red;
  z-index: 10;
}

line2,
.line2{
  --line-length-y: 200px;
  --line-color: red;
  --line-x: 50px;

  z-index: 10;
}

line3,
.line3{
  all:inherit;
  background-color: lime;
  position: absolute;
  top: 30px;
  left: 200px;
  width: 400px;
  z-index: 10;
}


linetest,
.linetest{
  --ll: 500px;
  --lx: 100px;
  --ly: 200px;
  --lcs:brown;
  --lce:black;

  z-index: 10;
}

linevertical,
.linevertical{
  --ll: 300px;
  --lx: 100px;
  --ly: 300px;
  --lc: lime;

  z-index: 10;
}


liney{
  --lx:200px;
  --ly:100px;
  --lc: red;
  --ll: 400px;

  z-index: 10;
}

lineyy{
  all:inherit;
  left: 50px;
  background-color: blue;
  z-index: 10;
}

  /* * {
    border: 1px solid black;
    } */

pers{
  width: var(--sheet-width);
  height: var(--sheet-height);
  position: absolute;
  top: var(--sheet-y);
  left: var(--sheet-x);

  /* background-color: lightblue; */

/*****
perspective settings
*****/
  /* とりあえず2000pxで　*/
  perspective: 2000px;
  perspective-origin: 50% 50%;
}

transform-sheet{
  width: var(--sheet-width);
  height: var(--sheet-height);
  position: absolute;
  top: var(--sheet-y);
  left: var(--sheet-x);

  /* background-color: green; */

/*****
  transform settings for object
*****/
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0px;
  transform:
    perspective(1000px)
    translate3d(0px, 0px, 0px);
}

sheet{
  width: var(--sheet-width);
  height: var(--sheet-height);
  position: absolute;
  top:var(--sheet-y);
  left:var(--sheet-x);

  /* background-color: yellow; */
}

back{
  all: inherit;

      background-image:
        url("../pics/old-paper2.jpg"),
        url("../pics/paper.jpg");
      background-size:
      20%,
      cover;
      background-position:
      bottom 10px right 10px,
      bottom 0px right 0px;

      background-repeat: no-repeat;

  /* background-blend-mode:  */
      background-blend-mode: overlay;

  border-radius: 0%;

  transform:
    translate3d(0px, 0px, calc(-1 * var(--sheet-depth)));

    opacity: 1;
    z-index: 2;
}

front1{
  all: inherit;

  width: calc(0.4 * var(--sheet-height));
  height: calc(1 * var(--sheet-height));

  /* background-color: lightblue; */


    background-image: url("../pics/old-paper-r.png");
    background-size: 100%;
    background-repeat: no-repeat;

  transform:
    translate3d(200px, 100px, 0px);
    opacitpx: 0.9;
    z-index: 10;
}

front2{
  all: inherit;

  width: calc(0.4 * var(--sheet-height));
  height: calc(1 * var(--sheet-height));

  /* background-color: lightblue; */


    background-image: url("../pics/old-paper-r.png");
    background-size: 100%;
    background-repeat: no-repeat;

  transform:
    translate3d(300px, 100px, -50px);

  opacity: 0.9;
  z-index: 9;
}

front3{
  all: inherit;

  width: calc(0.4 * var(--sheet-height));
  height: calc(1 * var(--sheet-height));

  /* background-color: lightblue; */


    background-image: url("../pics/old-paper-r.png");
    background-size: 100%;
    background-repeat: no-repeat;

  transform:
    translate3d(400px, 100px, -100px);
  opacity: 0.9;
  z-index: 8;
}

left{
  all: inherit;
  width: var(--sheet-depth);

  /* background-color: lime; */
  background-image: url(../pics/wood.jpg);

  /* border-radius: 50%; */

  transform-origin: left;
  transform:
    rotateY(90deg)
    translate3d(0px, 0px, 0px);

  opacity: 1;
}


right{
  all: inherit;
  left: calc(var(--sheet-width) - var(--sheet-depth));

  width: var(--sheet-depth);

  /* background-color: lime; */
  background-image: url(../pics/wood.jpg);


  transform-origin: right;
  transform:
    rotateY(-90deg)
    translate3d(0px, 0px, 0px);
    opacity: 1;
}


top{
  all: inherit;
  height: var(--sheet-depth);

  /* background-color: lightblue; */
  background-image: url(../pics/wood-l.jpg);


  transform-origin: top;
  transform:
    rotatex(-90deg)
    translate3d(0px, 0px, 0px);
    opacity: 1;
}

bottom{
  all: inherit;
  height: var(--sheet-depth);
  top:calc(var(--sheet-height) - var(--sheet-depth));

  /* background-color: gray; */
  background-image: url(../pics/wood-d.jpg);

/* boder image settings
  border-image: url("../pics/gold.jpg") 30  round;
  border-bottom-width: 30px;
  border-style: solid;
*/
  transform-origin: bottom;
  transform:
    rotatex(90deg)
    translate3d(0px, 0px, 0px);

  opacity: 1;
}
