:root{
  --box-x: 250px;
  --box-y: 130px;
  --box-z: 200px;
  --bx:var(--box-x);
  --by:var(--box-y);
  --bz:var(--box-z);
  --hx:calc(0.5 * var(--bx));
  --hy:calc(0.5 * var(--by));
  --hz:calc(0.5 * var(--bz));


  --front-color:var(--mid-blue);

  --light-blue:rgba(200, 200, 255, 0.5);
  --mid-blue:rgba(200, 200, 255, 0.5);
  --deep-blue:rgba(100, 100, 255, 0.5);
  --heavy-blue:rgba(20, 20, 100, 0.8);

  --my-gradient:linear-gradient(135deg, var(--light-blue) 10%, var(--deep-blue) 50%, var(--heavy-blue) 90%, green);
}

html{
  /*理由は分からないけどbodyでgradientを使うときには必要。*/
  min-height: 100%;
  /* background-color: lightblue; */
}

*{
  box-sizing: border-box;
}

body {
    font-family: 'Mv Boli', 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', YuGothic, 'Yu Gothic', 'Meiryo UI', 'メイリオ', Meiryo, 'ＭＳ 明朝', 'MS Mincho', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS UI Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', 'ＭＳ ゴシック', 'Yu Gothic UI', 'Segoe Print', sans-serif;

    margin: 0;

    /* html 参照 */
    /* background:
      var(--my-gradient); */
    color: white;
}

.紙{
  width: 100%;
  height: 100vh;
  background: var(--my-gradient);
}

pers{
  width: var(--bx);
  height: var(--by);

  position: absolute;
    bottom: calc(-1 * var(--by));
    right: calc(-1 * var(--bx));

    border: 1px solid green;

    background-color: brown;

  /* distance from item */
  perspective:1000px;

  /* view point position */
  /* default:50% 50% */
  perspective-origin:50% 50%;
}

cube{
  width: var(--bx);
  height: var(--by);

  border: 1px solid white;

  position: absolute;
  top: 0px;
  left: 0px;

  /* set 3D */
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0px;
  transform:
    perspective(700px)
    translate3d(-500px, -300px, 20px)
    /*rotateX(0deg)
    rotateY(0deg)*/;
}


cube back{
  width: var(--bx);
  height: var(--by);
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
  /* background-color: lightblue; */

  transform-origin: top;
  transform:
    rotateX(0deg)
    translate3d(0px, 0px, -100px);
}

cube top{
  width: var(--bx);
  height: var(--bz);
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid white;
  border-left: 1px solid white;
  transform-origin: top;
  transform:
    rotateX(90deg)
    translate3d(0px, 0px, 0px);
}

cube bottom{
  width: var(--bx);
  height: var(--bz);
  position: absolute;
  /* top: -50px; */
  top: calc(-1 * (var(--bz) - var(--by)));
  left: 0;
  border-right: 1px solid white;
  border-left: 1px solid white;

  transform-origin: bottom;
  transform:
    rotateX(-90deg)
    translate3d(0px, 0px, 0px);
}

cube front{
  width: var(--bx);
  height: var(--by);
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
  /* border-left: 1px solid white; */
  /* border-bottom: 1px solid white; */

  font-size: 1rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;


  /* transform-origin: top; */
  transform:
    rotateX(0deg)
    translateZ(195px);
}

cube front::after{
  content: "";
  color: gray;
  /* border: 0px solid blue; */
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(var(--by) - 2px);
  right: -10px;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

cube front::before{
  content: "";
  display: block;
  color: gray;
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(var(--by) - 2px);
  left: -10.5px;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

cube front:hover{
  color:black;
  transform:
  rotatex(5deg)
  translateZ(195px);
}

auther,
logo {
    position: absolute;
}

logo {
    bottom: 0%;
    left: 60%;
}

auther {
    bottom: 5%;
    left: 70%;
}

auther a {
    color: white;
}
