body {}
.page {
  background-color: black;
  color: white;

    background-image:
        radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0.7) 100%),
        url("../../brother/pics/water-black.jpg");
    background-position:
        top 0% left 0%,
        top 0% left 0%;
    background-size:
        cover,
        cover;
    background-repeat:
        no-repeat,
        no-repeat;

    opacity: 0.9;
}

.ikutsu-dream{
    position: absolute;
    top: 10%;
    left: 3rem;
    width: 30%;
    height: 30%;

    font-size: 0.8rem;
    background-color: #75A9FF;
    color: white;

    background-image: url(../../brother/pics/haikyo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    opacity: 0.5;

    border-radius: 10%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 0rem;

        cursor: pointer;
    transition-duration: 0.5s;

}

.ikutsu-dream a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
}
.ikutsu-dream:hover{
    position: absolute;
    top: 20%;
    left: 2rem;
    width: 60%;
    height: 40%;

    font-size: 0.8rem;
    background-color: #75A9FF;
    color: white;

    background-image: url(../../brother/pics/haikyo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 7;
    opacity: 0.7;

    border-radius: 50%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition-duration: 0.5s;
}

.satsuki-dream{
    position: absolute;
    top: 30%;
    right: 2rem;
    width: 30%;
    height: 30%;

    font-size: 0.8rem;

    background-color: black;
    color: white;

    background-image: url(../../brother/pics/hina0.jpg);
    background-size: cover;
    z-index: 3;
    opacity: 0.3;

    border-radius: 10%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    cursor: pointer;
    transition-duration: 0.5s;
}

.satsuki-dream:hover{
    position: absolute;
    top: 30%;
    right: 2%;
    width: 55%;
    height: 40%;

    font-size: 0.8rem;

    background-color: black;
    color: white;

    background-image: url(../../brother/pics/hina0.jpg);
    background-size: cover;
    z-index: 3;
    opacity: 0.7;

    border-radius: 50%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    transition-duration: 0.5s;
}

.hiromu-dream{
    position: absolute;
    top: 55%;
    left: 3rem;
    width: 30%;
    height: 30%;

    font-size: 0.8rem;
    background-color: black;
    color: white;

    background-image: url(../../brother/pics/hihou.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
    opacity: 0.3;

    border-radius: 10%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
    transition-duration: 0.5s;
}

.hiromu-dream:hover{
    position: absolute;
    top: 50%;
    left: 2rem;
    width: 55%;
    height: 40%;

    font-size: 0.8rem;
    background-color: black;
    color: white;

    background-image: url(../../brother/pics/hihou.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
    opacity: 0.7;

    border-radius: 50%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition-duration: 0.5s;
}
