body {}
.page {
    background-image:
        url("../pics/しーちゃん.png"),
        radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.7) 100%),
        url("../../brother/pics/bg.png");
    background-position:
        top 85% left 40%,
        top 0% left 0%,
        top 0% left 0%;
    background-size:
        150px auto,
        cover,
        cover;
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat;
}

/* 内容 */
.content1 {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 50%;
    height: 60%;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    background:
        radial-gradient(ellipse at 50% 50%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 70%);
}

.letter_image {
    position: absolute;
    top: 35%;
    left: 55%;
    width: 200px;
    z-index: 5;
    opacity: 0.8;
}
