/*
:root {
    --window-size: 2%;
    --ab: 5%;
}*/
body {}

page {
    background:
        linear-gradient(to right bottom, rgba(255, 255, 255, 0.3) 50%, rgba(165, 42, 42, 0.5) 80%),
        url(../../brother/pics/wood-deck-small-b.jpg);
}

mado1 {
    top: 0%;
    left: 0%;

    height: 100%;
    width: 100%;

    background:
        center/cover url("../../brother/pics/brother1.png");
    /*
    clip-path:
        polygon(0% 10%, 90% 10%, 100% 40%, 10% 40%) circle(10% at 20% 60%);
*/
    clip-path:
        inset(10% 70% 60% var(--ab) round 20px 20px 10px 10px);
    opacity: 0.8;
}

mado2 {
    top: 0%;
    left: 0%;

    height: 100%;
    width: 100%;

    background:
        center/cover url("../../brother/pics/brother1.png");

    clip-path:
        inset(10% 40% 60% 31% round 20px 20px 10px 10px);
    opacity: 0.8;
}

mado3 {
    top: 0%;
    left: 0%;

    height: 100%;
    width: 100%;

    background:
        center/cover url("../../brother/pics/brother1.png");

    clip-path:
        inset(10% 10% 60% 61% round 20px 20px 10px 10px);
    opacity: 0.8;
}
