body {}
.page {
    background-image:
        url("../pics/dog1.png"),
        url("../pics/hashibirous.png"),
        url("../pics/hashibirousr.png"),
        url("../pics/hashibirous.png"),
        url("../pics/kodai.png"),
        radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0.8) 100%),
        url("../../brother/pics/bg.png");
    background-position:
        top 85% left 40%,
        top 65% left 15%,
        top 68% left 10%,
        top 65% left 20%,
        top 70% left 25%,
        top 0% left 0%,
        top 0% left 0%;

    background-size:
        /*added*/
        200px auto,
        40px auto,
        50px auto,
        40px auto,
        80px auto,
        cover,
        cover;

    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
}
