:root{
  --cs: var(--cube-size);
  --hs: var(--half-size);
  --cube-size: 200px;
  --half-size: calc(0.5 * var(--cube-size));

  --i-bg: url("https://shirasukuu.github.io/brother/pics/夢/銀河.jpg");

  --i-c-front: url("https://shirasukuu.github.io/brother/pics/夢/城（縦）.jpg");
  --i-c-right: url("https://shirasukuu.github.io/brother/pics/夢/城（海）.jpg");
  --i-c-top: url("https://shirasukuu.github.io/brother/pics/夢/城（平面）.jpg");

  --i-g-front: url("https://shirasukuu.github.io/brother/pics/夢/人形1.jpg");
  --i-g-right: url("https://shirasukuu.github.io/brother/pics/夢/人形2.jpg");
  --i-g-top: url("https://shirasukuu.github.io/brother/pics/夢/人形3.jpg");


  --i-a-front: url("https://shirasukuu.github.io/brother/pics/夢/地図.jpg");
  --i-a-right: url("https://shirasukuu.github.io/brother/pics/夢/ラスコー.jpg");
  --i-a-top: url("https://shirasukuu.github.io/brother/pics/夢/秘宝.jpg");

}
html{
/* body でgradient を使うときには何故か必要。 */
  min-height: 100%;
}

body {
      /* background-color: black; */
    color: white;

      background-image:
          radial-gradient(ellipse at bottom right, rgba(0, 0, 0, 0.1) 30%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.5) 100%),
          var(--i-bg);
      background-position:
          top 0% left 0%,
          top 0% left 0%;
      background-size:
          cover,
          cover;
      background-repeat:
          no-repeat,
          no-repeat;
}

a{
    color: white;
}

.c-front a{
  font-size: 0.7rem;
  position: absolute;
  bottom: 3%;
  left: 30%;
}

.g-front a{
  font-size: 0.6rem;
  position: absolute;
  bottom: 3%;
  left: 30%;
}

.a-front a{
  font-size: 1rem;
  position: absolute;
  bottom: 3%;
  left: 30%;
}


cube-city{
  width: var(--cs); height: var(--cs);
  position: absolute; top: 20%; left: 15%;

  /* background-color: lightblue; */

/* 視点の設定 */
  perspective: 1000px; /* 奥行の長さ */
  perspective-origin: 300% -300%; /* X-Y */

/* ３Ｄ空間の宣言 */
  transform-style: preserve-3d;

/* 移動、変形 */
  transform-origin: 50% 50% 0px;
  transform:
    perspective(500px) /* 奥行き感の設定 */
    translate3d(0px, 0px, 0px);

  backface-visibility: visible;
}


cube-garden{
  width: var(--cs); height: var(--cs);
  position: absolute; top: 35%; left: 40%;

  /* background-color: lightblue; */

/* 視点の設定 */
  perspective: 1000px; /* 奥行の長さ */
  perspective-origin: 300% -300%; /* X-Y */

/* ３Ｄ空間の宣言 */
  transform-style: preserve-3d;

/* 移動、変形 */
  transform-origin: 50% 50% 0px;
  transform:
    perspective(700px) /* 奥行き感の設定 */
    translate3d(0px, 0px, 100px);

  backface-visibility: visible;
}


cube-adventure{
  width: var(--cs); height: var(--cs);
  position: absolute; top: 20%; right: 5%;

  /* background-color: lightblue; */

/* 視点の設定 */
  perspective: 1000px; /* 奥行の長さ */
  perspective-origin: 300% -300%; /* X-Y */

/* ３Ｄ空間の宣言 */
  transform-style: preserve-3d;

/* 移動、変形 */
  transform-origin: 50% 50% 0px;
  transform:
    perspective(500px) /* 奥行き感の設定 */
    translate3d(0px, 0px, -200px);

  backface-visibility: visible;
}



/* parts */
front, right-side, top{
  width: var(--cs); height: var(--cs);
  position: absolute;
}

.front,
front{
  /* background-color: pink; */
  /* font-size: 0.6; */
  transform:
  translate3d(0px, 0px, var(--hs));
}

.c-front{
  background-image: var(--i-c-front);
  background-size: cover;
  opacity: 0.99;
}

.g-front{
  background-image: var(--i-g-front);
  background-size: cover;
  opacity: 0.99;
}

.a-front{
  background-image: var(--i-a-front);
  background-size: cover;
  opacity: 0.99;
}

.right-side,
right-side{
  background-color: lime;
  transform:
  translate3d(var(--hs), 0px, 0px)
  rotateY(90deg);
}

.c-right{
  background-image: var(--i-c-right);
  background-size: cover;
  opacity: 0.7;
}

.g-right{
  background-image: var(--i-g-right);
  background-size: cover;
  opacity: 0.7;
}

.a-right{
  background-image: var(--i-a-right);
  background-size: cover;
  opacity: 0.7;
}

.top,
top{
  background-color: lightblue;
  transform:
  rotateX(90deg)
  translate3d(0px, 0px, var(--hs));
}

.c-top{
  background-image: var(--i-c-top);
  background-size: cover;
  opacity: 0.7;
}

.g-top{
  background-image: var(--i-g-top);
  background-size: cover;
  opacity: 0.7;
}

.a-top{
  background-image: var(--i-a-top);
  background-size: cover;
  opacity: 0.7;
}
