body{
  overflow: hidden;
}
/* .page {
    background:
        linear-gradient(to right bottom, rgba(255, 255, 255, 0.3) 50%, rgba(165, 42, 42, 0.5) 80%),
        url(../../brother/pics/wood-deck-small-b.jpg);
} */

room{
  width: 80%; height: 80vh;
  position: absolute;
  top: 0; left: 0;
  border: 1px solid  black;
  /* pers */
  perspective: 800px;
  /* perspective-origin: 50% 50%; */

  /* transform */

  /* transform-style: preserve-3d; */
  transform-style: flat;
  transform-origin: 50% 50% 0px;

  transform:
    perspective(1000px)
    translate3d(0px, 0px, 0px);
}

back{
  width: 100%; height: 100%;
  position: absolute; top: 0; left: 0;
  /* background-color: lightblue; */
  background:
      linear-gradient(to right bottom, rgba(255, 255, 255, 0.3) 50%, rgba(165, 42, 42, 0.5) 80%),
      url(../../brother/pics/back.jpg);
      background-size: 100% 100%;
  transform:
    translate3d(0px, 0px, 0px);
}

right{
  width: 300px; height: 100%;
  position: absolute;
  top: 0px; left: 100%;
  /* background-color: yellowgreen; */
  background:
      linear-gradient(to left bottom, rgba(255, 255, 255, 0.3) 50%, rgba(165, 42, 42, 0.5) 80%),
      url(../../brother/pics/back-right.jpg);

  background-size: 100% 100%;
  /* border-left: 5px solid lightblue; */

  transform-origin: left;
  transform:
    rotateY(-90deg);
    translate3d(0px, 0px, 0px);
}

v-line{
  width: 10px; height: 100%;
  position: absolute; top: 0px; left 0px;
  background-image:
  linear-gradient(to right, lightblue, yellowgreen);
  background-size: 100%;}

floor{
  width: 100%; height: 300px;
  position: absolute;
  top: calc(100% - 300px);
  left: 0%;
  /* background-color: lightgreen; */
  background:
      linear-gradient(to bottom, rgba(153, 0, 51, 0.8) 50%, rgba(153, 0, 51, 0.9) 80%),
      url(../../brother/pics/back-bottom.jpg);

    background-size: 100% 120%;


  transform-origin: bottom;
  transform:
    rotateX(90deg)
    translate3d(0px, 300px, 0px);
}

car{
  width: 600px; height: 400px;
  position: absolute; bottom: 30px; left: 200px;
  background:
    url(../../brother/pics/車.png);
    background-size: 100%;
    background-repeat: no-repeat;
}


table{
  width: 45%; height: 250px;
  position: absolute;
  top: 40%;
  left: 12%;
  /* background-color: yellow; */
  background:
      linear-gradient(to left top, rgba(255, 255, 255, 0.3) 50%, rgba(165, 42, 42, 0.5) 80%),
      url(../../brother/pics/wood-yoko.jpg);

  /* border: 4px solid brown; */
  border-radius: 10px;
  box-shadow:
  2px
  2px
  2px
  brown;

  transform-origin: bottom;
  transform:
    rotateX(-100deg)
    translate3d(0px, -50px, 0px);
}


mado1,
.mado1 {
  position: absolute;
    top: 0%;
    left: 0%;

    height: 100%;
    width: 100%;

    background:
        center/cover url("../../brother/pics/brother1.png");
    /*
    clip-path:
        polygon(0% 10%, 90% 10%, 100% 40%, 10% 40%) circle(10% at 20% 60%);
*/
    clip-path:
        inset(10% 70% 60% 2% round 20px 20px 10px 10px);
    opacity: 0.8;
}

mado2,
.mado2 {
    position: absolute;
    top: 0%;
    left: 0%;

    height: 100%;
    width: 100%;

    background:
        center/cover url("../../brother/pics/brother1.png");

    clip-path:
        inset(10% 40% 60% 31% round 20px 20px 10px 10px);
    opacity: 0.8;
}

mado3,
.mado3 {
    position: absolute;
    top: 0%;
    left: 0%;

    height: 100%;
    width: 100%;

    background:
        center/cover url("../../brother/pics/brother1.png");

    clip-path:
        inset(10% 10% 60% 61% round 20px 20px 10px 10px);
    opacity: 0.8;
}

foods,
.foods {
    position: absolute;
    top: 40%;
    left: 0%;
    width: 50%;
    height: 50%;

    background:
        left 10% top 60% no-repeat url("../pics/fruit_green_papaya.png"),
        no-repeat top 60% left 50% url("../pics/fruit_cassis.png"),
        no-repeat top 90% left 30% url("../pics/soup_food_scotch_broth.png"),
        no-repeat top 80% left 90% url("../pics/breads.png"),
        no-repeat top 90% left 70% url("../pics/pans.png"),
        no-repeat top 70% left 70% url("../pics/knife.png");
}

.left-food{
  position: absolute;
  top:45%;
  left: 2rem;
  width: calc(50% - 4rem);
  white-space: pre-wrap;
}


.right-food{
  position: absolute;
  top:45%;
  left: calc(50% + 2rem);
  width: calc(50% - 4rem);
  white-space: pre-wrap;
}
