body {}
.page {
    background-image:
        radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0.7) 100%),
        url("../pics/cureta1.jpg");
    background-position:
        /* top 85% left 40%, */
        top 0% left 0%,
        top 0% left 0%;
    background-size:
        /* 100px auto, */
        cover,
        cover;
    background-repeat:
        /* no-repeat, */
        no-repeat,
        no-repeat;
}

/*
.letter_image {
    position: absolute;
    top: 35%;
    left: 55%;
    width: 200px;
    z-index: 5;
    opacity: 0.8;
} */
