body {
  margin: 0;
  padding: 0;
  /* overflow:hidden; */
  background-color: black;
  /* font-size: 0.9rem; */
}

.壁紙{
  width: 100%;
  height: 100vh;
  position: absolute; top: 0; left: 0;
  /* background-color: brown; */
  background-image:
    /* url("../pics/brown-paper-pen.png"), */
    url("../pics/back.png");
  background-size:
  100% 100%;
  background-repeat: no-repeat;
  /* background-blend-mode: hard-light; */
}

.目次{
  width: 40%;
  height: 80%;
  position: absolute;
  padding-top: 6rem;
  padding-left: 10rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  /* border: 1px solid black; */
}

.小さい目次{
  width: 40%;
  height: 60%;
  position: absolute;
  bottom: 15px; right: 50px;
  background:
    url("../pics/brown-paper-pen.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  /* border: 1px solid black; */
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
  color:brown;
}

.small-text{
  font-size: 0.7rem;
}
