body {
}

.page {
    background-color: gray;
    color: white;

/* 
    margin-right: auto;
    margin-left:  auto;

    max-width: 960px;

    padding-right: 10px;
    padding-left:  10px; */


      background-image:
          radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0.7) 100%),
          url("../city/pics/haikyo.jpg");
      background-position:
          top 0% left 0%,
          top 0% left 0%;
      background-size:
          cover,
          cover;
      background-repeat:
          no-repeat,
          no-repeat;

      opacity: 0.9;
}

.city1{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 30%;
    height: 20%;

    font-size: 0.6rem;
    background-color: black;
    color: white;

    background-image: url(../city/pics/city1.jpg);
    background-size: cover;
    z-index: 5;
    opacity: 0.5;

    border-radius:10%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.christ{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 30%;
    height: 40%;

    font-size: 0.6rem;

    background-color: black;
    color: white;

    background-image: url(../city/pics/city-christ.jpg);
    background-size: cover;
    z-index: 3;
    opacity: 0.9;

    border-radius: 10%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
