body {
}

.page {
    background-color: black;
    color: black;

      background-image:
          radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 70%, rgba(0, 0, 0, 0.7) 100%),
          url("../pics/nation.jpg");
      background-position:
          top 0% left 0%,
          top 0% left 0%;
      background-size:
          cover,
          cover;
      background-repeat:
          no-repeat,
          no-repeat;

      opacity: 1;
}

.city-title{
  /* background-image: url("../pics/6Wsepia.jpg"); */
    position: absolute;
    top: 40%;
    left: 10%;
    width: 40%;
    height: 10%;

    font-size: 1.3rem;
    text-align: center;
    /* transform: scaleX(2);
    transform: rotateZ(45deg);
    transform: skewY(20deg); */
}

.dragon1{
  position: absolute;
  top: 20%;
  left: -5%;
  width: 60%;
  height: 60%;

  background-image:
      radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.7) 100%),
      url("../pics/dragon1.jpg");
  background-position:
      top 0% left 0%,
      top 0% left 0%;
  background-size:
      cover,
      cover;
  background-repeat:
      no-repeat,
      no-repeat;
  border-radius: 40%;
  opacity: 0.5;
}


.city{
  position: absolute;
  top: 70%;
  left: 10%;
  width: 30%;
  height: 20%;

  background-image:
      radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0.7) 100%),
      url("../pics/city-mirano.jpg");
  background-position:
      top 0% left 0%,
      top 0% left 0%;
  background-size:
      cover,
      cover;
  background-repeat:
      no-repeat,
      no-repeat;
  border-radius: 50%;
  opacity: 0.5;
}

.description{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 45%;
    height: 60%;
    padding: 1rem 1rem 1rem 1rem;

    font-size: 0.8rem;
}

.dragon0{
  position: absolute;
  top: 20%;
  left: 50%;
  width: 50%;
  height: 50%;

  background-image:
      radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.7) 100%),
      url("../pics/dragon0.jpg");
  background-position:
      top 0% left 0%,
      top 0% left 0%;
  background-size:
      cover,
      cover;
  background-repeat:
      no-repeat,
      no-repeat;
  border-radius: 40%;
  opacity: 0.5;
}
