
/*************************/
/* 200px X 200px cube sample */

:root {
  --幅:95%;
  --高さ:85vh;
  --壁幅:calc(0.25 * var(--幅));
  --床幅:40vh;

  --c-w:var(--cube-width);
  --c-h:var(--cube-height);
  --c-d:var(--cube-depth);
  --c-s:var(--cube-size);
  --cube-width:300px;
  --cube-height:200px;
  --cube-depth:200px;
  --cube-size:200px;

  --bg-color:rgba(200, 255, 255, 0.3);
  --top-color: rgba(200, 200, 255, 0.3);
  --bottom-color: rgba(0, 0, 100, 0.7);

  --bg-gradient: linear-gradient(90deg, var(--top-color)40%, var(--bottom-color)90%);
}

*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  border: 0px solid red;
}

body {
  /* width: 100%; */
  background-image: var(--bg-gradient);

  /* hidden scroll-bar */
  /* overflow:hidden; */
}


.紙{
  width: 100%;
  height: 100vh;

  background-color:blue;

  z-index: 3;
}


/* view point setting */
.pers {
  width: 100%;
  height: 100vh;
  background-color: lime;

  position: absolute;
  top:0px;
  left: 0px;

  /* distance from item? */
    perspective:1000px;

  /* view point position */
  /* default:50% 50% */
    perspective-origin:50% 50%;
}

.transform-room {
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0px;
  left: 0px;
  background-color: lime;

/* transform */
  transform-style: preserve-3d;
  transform-origin: 50% 50% -100px;

  transform:
    perspective(10000px)
    rotateX(0deg) rotateY(0deg)
    scaleX(1) scaleY(1) scaleZ(1);
}
.背景{
  width: var(--幅);
  height: var(--高さ);
  position: absolute;
  top: 0px;
  left: 0px;
  background-image:
    url(../pics/wood.jpg);
  background-color: yellow;
  border: 1px solid brown;

  transform-origin: center;
  transform:
  translateZ(0px)
  rotateX(0deg)
  rotateY(0deg)
  rotateZ(0deg);
  z-index: 2;
}

.机{
  width: calc(.25 * var(--幅));
  height: calc(0.3 * var(--高さ));
  position: absolute;
  top: 60%;
  left: 20%;
  background:
    linear-gradient(white,rgba(20, 20, 100, 0.3)),
    url(../pics/wood-yoko.jpg);

  border: 1px solid brown;

  transform-origin: top;
  transform:
  translateZ(0px)
  rotateX(50deg)
  rotateY(0deg)
  rotateZ(0deg);
  z-index: 2;
  opacity: 1;
}

.床{
  width: var(--幅);
  height: var(--床幅);
  position: absolute;
  top: var(--高さ);
  left: 0px;
  background-color: yellow;
  background-image:
    url(../pics/wood-yoko.jpg);
  border: 1px solid brown;

  transform-origin: top;
  transform:
  translatez(0px)
  rotateX(90deg)
  rotateY(0deg)
  rotateZ(0deg);
  z-index: 2;
}

.壁{
  width: var(--壁幅);
  height: var(--高さ);
  position: absolute;
  top: 0px;
  left: var(--幅);
  background-image:
    url(../pics/wood.jpg);
  background-color: yellow;
  border: 1px solid brown;

  transform-origin: left;
  transform:
  translatez(0px)
  rotateX(0deg)
  rotateY(-90deg)
  rotateZ(0deg);
  z-index: 2;
}

/* view point setting */
 {
  /* width: 100%; */
  /* height: 100%; */
  background-color: green;
  /* margin: 0px; */
  padding-top: 50px;
  padding-left: 50px;
  position: absolute;
  top:70px;
  left: 150px;
  /* distance from item? */
    perspective:1000px;

  /* view point position */
  /* default:50% 50% */
    /* perspective-origin:50% 50%; */
}


/* item transformation */
.pers .transform-object{
  width: var(--c-w);
  height: var(--c-h);
  margin: 35% 85%;

/* transform */
  transform-style: preserve-3d;
  transform-origin: 230% 90% -100px;

  transform:
    perspective(190px)
    rotateX(0deg) rotateY(0deg)
    scaleX(1.5) scaleY(1) scaleZ(1);
}

/* item creation */
/* small cube */
.pers .cube .s-cube{
  background-color: rgba(8, 8, 100, 0.3);
  color: white;
  border: 0px solid white;
  border-radius: 0px;
  height: var(--c-h);
  width: var(--c-w);

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/*bottom*/
.pers .cube .s-cube .bottom {
  background-image:
  linear-gradient(45deg, rgba(180, 180, 180, 0.1), rgba(30, 30, 50, 0.15));
  border: 0px solid gray;

  color:white;
  transform: rotateX(90deg) translate3d(0, -100px, -100px);

  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  opacity: 0.8;
}

.pers .cube .s-cube .back{
  background-color: rgba(50, 50, 100, 0.3);
  color: white;
  border-radius: 0px;
  border: 0px solid white;
  transform: translate3d(0, 0, calc(-1 * var(--c-d)));

  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.pers .cube .s-cube .title{
  background-color:
  rgba(10, 10, 80, 0.4);
  border: 0px solid white;

  transform: translate3d(0px, -0px, -25px);

  color: gray;
  font-size: 2rem;
  text-align: center;
  line-height: 200px;
  z-index: 7;
  opacity: 0.6;
}

.pers .cube .s-cube .doll{
  background-color:
  rgba(8, 8, 100, 0.3);
  transform: translate3d(0px, -0px, -50px);
  border: 0px solid white;

color: white;
  text-align: center;
  line-height: 200px;
  z-index: 4;
  opacity: 0.3;
}

.pers .cube .s-cube .left{
  background-image: var(--my-gradient);
  border: 0px solid white;

  transform: rotateY(-90deg) translate3d(calc(-0.5 * var(--c-w)), 0, calc(0.5 * var(--c-d)));

  opacity: 0.2;

  display: flex;
  align-items: center;
  justify-content: center;
}


/**************end*********************/


/* old-code, reference purpose only */
.pers .cube div {
  background-color: rgba(162, 176, 206, 0.9);
  /* border: 1px solid #A2B0CE; */
  height: var(--c-h);
  width: 200px;

  position: absolute;
  left: 0;
  top: 0;
}

/*
.pers .cube .back {
  transform: translate3d(0, 0, -200px);
}

.pers .cube .front {
  position: relative;
  transform: translate3d(0, 0, -30px);

  text-align: center;
  line-height: 200px;
}

.pers .cube .left {
  transform: rotateY(-90deg) translate3d(-100px, 0, 100px);
}
*/
