
/*************************/
/* 200px X 200px cube sample */

:root {
  --c-w:var(--cube-width);
  --c-h:var(--cube-height);
  --c-d:var(--cube-depth);
  --c-s:var(--cube-size);
  --cube-width:200px;
  --cube-height:200px;
  --cube-depth:200px;
  --cube-size:200px;

  --top-color: rgba(200, 200, 250, 0.3);
  --bottom-color: rgba(0, 0, 150, 0.8);
  --my-gradient: linear-gradient(to left, var(--top-color), var(--bottom-color) 50%);
  --bg-gradient: linear-gradient(135deg, var(--top-color)40%, var(--bottom-color)90%);
}

*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  border: 0px solid white;
}

body {
  background-image: var(--bg-gradient);
  color: white;

  /* hidden scroll-bar */
  overflow:hidden;
}

/* view point setting */
.pers {
  width: 100%;
  height: 100vh;

  /* distance from item */
    perspective:1000px;

  /* view point position */
  /* default:50% 50% */
    perspective-origin:50% 130%;
}


/* item transformation */
.pers .cube {
  width: var(--c-w);
  height: var(--c-h);
  position: absolute;
  top: 60%;
  left: 90%;

/* transform */
  transform-style: preserve-3d;
  transform-origin:
   200% 100% -120px;

  transform:
    perspective(200px)
    rotateX(0deg) rotateY(0deg)
    scaleX(1.5) scaleY(1) scaleZ(1);
}

/* item creation */
/* small cube */
.pers .cube .s-cube{
  height: var(--c-s);
  width: var(--c-s);

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* divは*かも？ */

.pers .cube .s-cube div{
  width:inherit;
  height: inherit;
  border: inherit;
  position: inherit;

  /* border-top: 1px solid white; */

    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.pers .cube1 .s-cube *{
    width:var(--c-s);
  height: var(--c-s);
 position: absolute;

    border-right: 1px solid white;

  display: flex;
  align-items: center;
  justify-content: center;
}*/

/*bottom*/
.pers .cube .s-cube .bottom {
  background-image:
  linear-gradient(45deg, rgba(180, 180, 180, 0.1), rgba(30, 30, 50, 0.15));

  transform:
    rotateX(90deg) translate3d(0, -100px, -100px);

  opacity: 0.8;
}

.pers .cube .s-cube .back{
  background-color: rgba(50, 50, 100, 0.3);

  transform: translate3d(0, 0, calc(-1 * var(--c-d)));
}

.pers .cube .s-cube .title{
  background:
     /* var(--bg-gradient),  */
    url(../pics/white-city.jpg);
  background-size: cover;

  font-size: 0.7rem;
  transform: translate3d(0px, 0px, -25px);

  opacity: 0.3;
}

.pers .cube * * .text-area{
  color: : white;
  text-shadow:
  1px
  1px
  1px
  blue;

  border: 0px solid white;

  transform: scaleY(1.7);
}

.pers .cube .s-cube .title-front{
  background:
    var(--bg-gradient);

  font-size: 0.8rem;
  transform: translate3d(0px, 0px, -5px);

  opacity: 0.3;
}


.pers .cube .s-cube .doll{
  background-color:
  rgba(8, 8, 100, 0.3);

  font-size: 0.8rem;
  transform: translate3d(0px, -0px, -70px);

  opacity: 0.3;
}

.pers .cube .s-cube .left{
  background-image: var(--my-gradient);

  transform: rotateY(-90deg) translate3d(calc(-0.5 * var(--c-s)), 0, calc(0.5 * var(--c-s)));

  opacity: 0.2;
  z-index: 1;

}
