body {
  margin: 0;
  padding: 0;
  }

.container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: black;


    /* 先に書いたほうが上になる。 */
    /* background: */
    /* linear-gradient(to bottom right, rgba(255, 255, 255, 0.7) 20%, rgba(0, 0, 0, 0.4) 80%),
    radial-gradient(ellipse at 30% 30%, rgba(255, 255, 255, 0.7) 10%, rgba(100, 100, 100, 0.5) 60%, rgba(0, 0, 0, 0.5) ),
    url("../pics/paper.jpg"); */

    background-image:
    url("../pics/paper.jpg"),
    url("../pics/iland.jpg"),
     url("../pics/old-paper.png");

    background-position:
    top 0% left 0%,
    bottom 0% right 0%,
    top 10% left 10%;
    background-size:
    cover,
    40%,
    50%;
    background-repeat: no-repeat;

  /* ブレンドモード指定 */
    background-blend-mode: overlay;
}

#background-picture{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;

  /* 先に書いたほうが上になる。 */
  /* background: */
  /* linear-gradient(to bottom right, rgba(255, 255, 255, 0.7) 20%, rgba(0, 0, 0, 0.4) 80%),
  radial-gradient(ellipse at 30% 30%, rgba(255, 255, 255, 0.7) 10%, rgba(100, 100, 100, 0.5) 60%, rgba(0, 0, 0, 0.5) ),
  url("../pics/paper.jpg"); */

  background-image:
  url("../pics/paper.jpg"),
  url("../pics/iland.jpg"),
   url("../pics/old-paper.png");

  background-position:
  top 0% left 0%,
  bottom 0% right 0%,
  top 10% left 10%;
  background-size:
  cover,
  40%,
  50%;
  background-repeat: no-repeat;

/* ブレンドモード指定 */
  background-blend-mode: overlay;
  }

#bg1{
  position: absolute;
  top:0%;
  left:0%;
  width:100%;
  height: 100vh;
  background: url("../pics/iland.jpg");
  background-repeat: no-repeat;
  /* background-position: 70% 70%; */

  clip-path:circle(30%);
  opacity: 0.7;
}

#bg2{
  position: absolute;
  top:20%;
  left:20%;
  width: 100%;
  height: 100vh;
  background: url("../pics/old-paper.png");
  background-repeat: no-repeat;
  background-size: 50%;
  /* background-position: 70% 70%; */

  /* clip-path:circle(30%); */
  opacity: 0.7;
}

/*
.picture {
  width: 100%;
  height: 100%;
  background: url("https://dl.dropbox.com/s/pzaxobsyspbfrjw/wa.png?dl=0");
  background: url("../pics/old-paper.png");

  background-attachment: fixed;
  background-size: cover;
  clip-path: circle(40%);
  animation: clipmove 12s ease-in-out infinite;
}

@keyframes clipmove {
  0%,
  100% {
    clip-path: circle(10% at 0 0);
  }

  50% {
    clip-path: circle(80% at 100% 100%);
  }
} */
