#demo-1 {
  margin: 250px 0;
}


/* 3D perspective */

#demo-1 .cube {
  /* animation: rotateCube 15s infinite linear; */
  height: 200px;
  margin: 0 auto;
  position: relative;
  transform: perspective(1000px);
  transform-origin: 50% 50% -700px;
  /* perspective-origin:center; */
  transform-style: preserve-3d;
  width: 300px;

      transform:
      perspective(1000px)
      rotateX(0deg) rotateY(0deg)
      scaleX(1) scaleY(1) scaleZ(1);
}

/*
 @keyframes rotateCube {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: perspective(1000px) rotateX(-360deg) rotateY(-360deg) rotateZ(0deg);
  }
}

*/

#demo-1 .cube div {
  background-color: rgba(162, 176, 206, 0.1);
  border: 1px solid #A2B0CE;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;

}

/*front*/
#demo-1 .cube .front {
  position: relative;
  transform: translate3d(0, 0, -30px);

  text-align: center;
  line-height: 200px;
}

/*left*/
#demo-1 .cube .left {
  transform: rotateY(-90deg) translate3d(-150px, 0, 150px);
}

/*right*/

#demo-1 .cube .right {
  transform: rotateY(90deg) translate3d(150px, 0, 150px);
}

/*back*/

#demo-1 .cube .back {
  transform: translate3d(0, 0, -300px);
}

/*top*/
#demo-1 .cube .top {
  transform: rotateX(-90deg) translate3d(0, 100px, -100px);
}

/*bottom*/
#demo-1 .cube .bottom {
  transform: rotateX(90deg) translate3d(0, -100px, -100px);
}

/* end */

/* 500px cube move */

/*
#demo-1 .cube {
  animation: rotateCube 15s infinite linear;
  height: 500px;
  margin: 0 auto;
  position: relative;
  transform: perspective(1000px);
  transform-origin: 50% 50% -250px;
  transform-style: preserve-3d;
  width: 500px;

      transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
}

 @keyframes rotateCube {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: perspective(1000px) rotateX(-360deg) rotateY(-360deg) rotateZ(0deg);
  }
}

#demo-1 .cube div {
  background-color: rgba(162, 176, 206, 0.1);
  border: 1px solid #A2B0CE;
  height: 500px;
  left: 0;
  position: absolute;
  top: 0;
  width: 500px;

}
*/
/*front*/
/*
#demo-1 .cube .front {
  position: relative;
  text-align: center;
  line-height: 200px;
}
*/
/*left*/
/*
#demo-1 .cube .left {
  transform: rotateY(-90deg) translate3d(-250px, 0, 250px);
}
*/
/*right*/
/*
#demo-1 .cube .right {
  transform: rotateY(90deg) translate3d(250px, 0, 250px);
}
*/

/*back*/
/*
#demo-1 .cube .back {
  transform: translate3d(0, 0, -500px);
}
*/

/*top*/
/*
#demo-1 .cube .top {
  transform: rotateX(-90deg) translate3d(0, 250px, -250px);
}
*/
/*bottom*/
/*
#demo-1 .cube .bottom {
  transform: rotateX(90deg) translate3d(0, -250px, -250px);
}
*/
