body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  /* 全体に影響を与える。 */
  background: linear-gradient(to right, #200122, #6f0000);
  color: white;


/* background picture */
  background:
    url("../pics/old-paper2.jpg"),
    url("../pics/paper.jpg");
  background-size:
  30%,
  cover;
  background-position:
  bottom 0 right 0;
  background-repeat: no-repeat;
  background-blend-mode: darken;
/*
  clip-path: circle(40%);
   animation: clipmove 12s ease-in-out infinite; */
}

/* 各要素を一括してまとめる。普通はいらないかも。 */
/*.container {
  position: relative;
  width: 100%;
  height: 100vh;

  background:
  url("../pics/old-paper1.jpg"),
  url("../pics/paper.jpg");
background-size:
30%,
cover;
background-position:
50% 50%;
background-repeat: no-repeat;
background-blend-mode: overlay;

clip-path: circle(40%);
 animation: clipmove 12s ease-in-out infinite;

  display: flex;
  align-items: center;
  justify-content: center;
 }*/

header{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height: 30px;
  background-color: gray;
  color: black;
  opacity: 0.5;
}
main{
  position: absolute;
  top:30px;
  left:0%;
  width: 100%;
  height: calc(100vh - 30px - 30px);
}
footer{
  position: absolute;
  bottom: 0%;
  left:0%;
  width: 100%;
  height: 30px;
  background-color: gray;
  color: black;
  opacity: 0.5;
}

mokuji1{
  width: 300px;
  height:400px;
  position: absolute;
  top:5%;
  left:10%;
  background-color: #EADCC2;
  background-image: url("../pics/old-paper.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: 2;

  color: black;
  padding-top: 9rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 8rem;
}

mokuji2{
  width: 300px;
  height:400px;
  position: absolute;
  top:8%;
  left:40%;
  background-color: #EADCC2;
  background-image: url("../pics/old-paper.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: 1;

  color: black;
  padding-top: 9rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 8rem;

  cursor: pointer;
  transition-duration: 0.5s;
}

mokuji2:hover{
  width: 300px;
  height:400px;
  position: absolute;
  top:8%;
  left:40%;
  background-color: #EADCC2;
  background-image: url("../pics/old-paper.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: 3;

  color: black;
  padding-top: 9rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 8rem;
}

.picture {
  width: 100%;
  height: 100%;
  background: url("https://dl.dropbox.com/s/pzaxobsyspbfrjw/wa.png?dl=0");
  background-attachment: fixed;
  background-size: cover;
  /* clip-path: circle(40%);
  animation: clipmove 12s ease-in-out infinite; */
}


@keyframes clipmove {
  0%,
  100% {
    clip-path: circle(10% at 0 0);
  }

  50% {
    clip-path: circle(80% at 100% 100%);
  }
}
