
/*************************/
/* 200px X 200px cube sample */

:root {
  --c-w:var(--cube-width);
  --c-h:var(--cube-height);
  --c-d:var(--cube-depth);
  --c-s:var(--cube-size);
  --cube-width:200px;
  --cube-height:200px;
  --cube-depth:200px;
  --cube-size:200px;

  --top-color: rgba(162, 176, 206, 0.1);
  --bottom-color: #000088;
  --my-gradient: linear-gradient(to left, var(--top-color), var(--bottom-color) 50%);
  --bg-gradient: linear-gradient(135deg, var(--top-color), var(--bottom-color));
}

body {
  width:100%;
  height: 100vh;
  /* margin: auto auto; */
  /* padding: 100px; */
  background-image: var(--bg-gradient);

  /* hidden scroll-bar */
  overflow:hidden;
}


/* view point setting */
.pers {
  /* distance from item? */
    perspective:1000px;

  /* view point position */
  /* default:50% 50% */
    perspective-origin:30% 450%;
}


/* item transformation */
.pers .cube {
  width: var(--c-w);
  height: var(--c-h);
  margin: 35% 85%;

  /* perspective:500px;
  perspective-origin:center; */

/* transform */
  transform-style: preserve-3d;
  transform-origin: 230% 90% -100px;

  transform:
    perspective(190px)
    rotateX(0deg) rotateY(0deg)
    scaleX(1.5) scaleY(1) scaleZ(1);
}

/* item creation */
/* small cube */
.pers .cube .s-cube{
  background-color: rgba(8, 8, 100, 0.6);
  color: white;
  border: 0px solid white;
  border-radius: 0px;
  height: var(--c-h);
  width: var(--c-w);

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.pers .cube .s-cube .back{
  background-color: rgba(50, 50, 100, 0.3);
  color: white;
  border-radius: 0px;
  border: 0px solid white;
  transform: translate3d(0, 0, calc(-1 * var(--c-d)));

  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.pers .cube .s-cube .city{
  background-color: rgba(10, 10, 100, 0.5);
  transform: translate3d(100px, 50px, -25px);


  text-align: center;
  line-height: 200px;
  z-index: 8;
  opacity: 0.5;
}

.pers .cube .s-cube .title{
  background-color:
  rgba(10, 10, 80, 0.4);

  /* --top-color; */
  /* rgba(8, 8, 100, 0.3); */
  border: 0px solid white;

  transform: translate3d(0px, -0px, -25px);

color: gray;
font-size: 2rem;
  text-align: center;
  line-height: 200px;
  z-index: 7;
  opacity: 0.6;
}

.pers .cube .s-cube .doll{
  background-color:
  rgba(8, 8, 100, 0.3);
 /* rgba(0, 0, 10, 0.6); */
  transform: translate3d(0px, -0px, -50px);
  border: 0px solid white;

color: white;
  text-align: center;
  line-height: 200px;
  z-index: 4;
  opacity: 0.3;
}



.pers .cube .s-cube .left{
  background-image: var(--my-gradient);
  border: 0px solid white;

  transform: rotateY(-90deg) translate3d(calc(-0.5 * var(--c-w)), 0, calc(0.5 * var(--c-d)));

  opacity: 0.2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pers .cube .s-cube .right{
  /* background-image:
   linear-gradient(to right, var(--top-color), var(--bottom-color) 50%); */
   border: 0px solid white;

  transform: rotateY(90deg) translate3d(calc(0.5 * var(--c-w)), 0, calc(0.5 * var(--c-d)));

  opacity: 0.5;

  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* diplay off */
  display: none;
}

.pers .cube .s-cube .top {
  background-image:
   linear-gradient(var(--top-color), var(--bottom-color) 50%);
   border: 0px solid white;

  transform: rotateX(-90deg) translate3d(0, 100px, -100px);
display: none;
  opacity: 0.8;
}

/*bottom*/
.pers .cube .s-cube .bottom {
  /* background-color:
  rgba(50, 50, 50, 0.3); */
  background-image:
  linear-gradient(45deg, rgba(80, 80, 100, 0.3), rgba(30, 30, 50, 0.3));
  border: 0px solid gray;

  color:white;
  transform: rotateX(90deg) translate3d(0, -100px, -100px);

  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  opacity: 0.8;
}

/* end */



/* old-code, reference purpose only */
.pers .cube div {
  background-color: rgba(162, 176, 206, 0.1);
  border: 1px solid #A2B0CE;
  height: var(--c-h);
  width: var(--c-w);

  position: absolute;
  left: 0;
  top: 0;
}

.pers .cube .back {
  transform: translate3d(0, 0, -200px);
}

.pers .cube .front {
  position: relative;
  transform: translate3d(0, 0, -30px);

  text-align: center;
  line-height: 200px;
}

.pers .cube .left {
  transform: rotateY(-90deg) translate3d(-100px, 0, 100px);
}





/*
#demo-1 .cube div {
  background-color: rgba(162, 176, 206, 0.1);
  border: 1px solid #A2B0CE;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
}
*/


/*front*/
/*
#demo-1 .cube .front {
  position: relative;
  transform: translate3d(0, 0, -30px);

  text-align: center;
  line-height: 200px;
}
*/

/*left*/
/*
#demo-1 .cube .left {
  transform: rotateY(-90deg) translate3d(-100px, 0, 100px);
}
*/

/*right*/

#demo-1 .cube .right {
  transform: rotateY(90deg) translate3d(100px, 0, 100px);
}

/*back*/

#demo-1 .cube .back {
  transform: translate3d(0, 0, -200px);
}

/*top*/
#demo-1 .cube .top {
  transform: rotateX(-90deg) translate3d(0, 100px, -100px);
}

/*bottom*/
#demo-1 .cube .bottom {
  transform: rotateX(90deg) translate3d(0, -100px, -100px);
}

/* end */
